<% include ../partials/header %>

<!--Profile Index Page-->


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Avatar:</h4>
            <p class="lead"> <img class="avatarImage"src="<%=currentUser.avatar%>"></img></p>
            <h2>Level: <%= checkLevel(currentUser.experience)%></h2>
        </div>
        <div class="col-md-9">
            <div class="">
                <h1 class="text-center profileTitle"><%=currentUser.username%>'s Profile Page</h1>
                <div class="list-group">
                    <h4 class="list-group-item">Username: <%=currentUser.username%></h4>
                    <h4 class="list-group-item">Party: <%if(currentUser.party){ %>
                                                            <%= currentUser.party.name %>
                                                        <% }else{ %>
                                                            You haven't joined a Party yet
                                                        <% } %></h4>
                    <h4 class="list-group-item">Number of questions Answered: <%=currentUser.questions.length%></h4>
                    <h4 class="list-group-item">Created At: <%=currentUser.createdAt.toDateString()%></h4>
                    <h4 class="list-group-item">Inventory: 
                        <% if (currentUser && currentUser.inventory[0]){ %>
                            <% currentUser.inventory.forEach(function(item, i){ %>
                                <img class="inventoryImage itemDisplayProfile" src="<%=currentUser.inventory[i].image%>"></img>
                            <% }) %>
                        <% } %>
                    </h4>
                    <h4 class="list-group-item">Password: <button id="passwordJokeButton">Show Password</button><span id="passwordJoke">Haha, Just Kidding</span></h4>    
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>