<% include ../partials/header %>

<!--Question edit Page-->
<div class="container">
    <div class="row">
        <h1 id="questionNewHeader">Edit your Question, <%=question.title%></h1>
    </div>
    <div class="row">
        <h4>Editting your Question will delete all Votes on your Question</h4>
    </div>
    <div class="row">
        <h4>Please fill out every area, even if the information is the same</h4>
    </div>
    <div>
        <form class="container form-group" action="/questions/<%=question._id%>?_method=PUT" method="POST">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <input class="form-control" type="text" placeholder="<%=question.title%>" name="title"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                    <input class="form-control" type="text" placeholder="<%=question.questionContent%>" name="questionContent"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                    <input class="form-control" type="text" placeholder="<%=question.description%>" name="description"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <input class="form-control" type="url" placeholder="<%=question.education%>" name="education"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <input class="form-control" type="text" placeholder="<%=question.answers[0][0]%>" name="answer1"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <input class="form-control" type="text" placeholder="<%=question.answers[1][0]%>" name="answer2"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <input class="form-control" type="text" placeholder="<%=question.answers[2][0]%>" name="answer3"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <button class="form-control">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<% include ../partials/footer %>