<% include ../partials/header %>

<!--Question edit Page-->
<div class="container">
    <div class="row">
        <h1 id="questionNewHeader">Edit your Question, <%=question.title%></h1>
    </div>
    <div class="row">
        <h4>Editting your Question will delete all Votes on your Question</h4>
    </div>
    <div class="row">
        <h4>Please fill out every area, even if the information is the same</h4>
    </div>
    <div>
        <form class="container form-group" action="/questions/<%=question._id%>?_method=PUT" method="POST">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <input class="form-control" type="text" placeholder="<%=question.title%>" name="title"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                    <input class="form-control" type="text" placeholder="<%=question.questionContent%>" name="questionContent"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                    <input class="form-control" type="text" placeholder="<%=question.description%>" name="description"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <input class="form-control" type="url" placeholder="<%=question.education%>" name="education"></input>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <button class="form-control" type="button" id="addAnswer" required>Click here to add more Answer Slots</button>
                </div>
            </div>
            <%for(var i=0;i<3;i++){ %>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 form-group">
                         <input class="form-control" type="text" placeholder="<%=question.answers[i][0]%>" name="answer[<%=i+1%>]" id="answer[<%=i+1%>]" required></input>
                    </div>
                </div> 
            <% } %>
            <input type="hidden" id="numberOfAnswers" name="numberOfAnswers" value="3"></input>
            <div class="row" id="questionSubmit">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 form-group">
                     <button class="form-control">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<% include ../partials/footer %>