<% include ../partials/header %>


<!--Question show route-->

<div class="container">
    <div class="container questionTitle">
        <h1><%=question.title%></h1>
    </div>
    <div>
        <h1><%=question.questionContent%></h1>
    </div>
    <div>
        <form action="/questions/<%=question._id%>" method="POST">
            <ul class="answerList">
                <!--%= console.log(question)%>-->
                <% question.answers.forEach(function(answer, index){ %>
                    <div class="form-check">
                        <input class="form-check-input answerDisplay" type="radio" name="answerChoice" id="answerChoice<%=index%>" value="<%=answer%>">
                        <label class="form-check-label" for="exampleRadios<%=index%>">
                            <!--%=console.log(answer)%>-->
                            <%=answer%>
                        </label>
                    </div>
                <% }) %>
            </ul>
            <div id="questionAnswered">
                <!--Show Submit after Q answered-->
                <button class="questionSubmit">Lock It In!</button>
            </div>
        </form>
    </div>
</div>


<% include ../partials/footer %>


